:root {
  --statusNewColor: #D5ffff;
  --statusOneColor: #f5b8a9;
  --statusTwoColor: #f5cca9;
  --statusThreeColor: #f5e1a9;
  --statusFourColor: #f5f3a9;
  --statusFiveColor: #ddffdd;
  --statusKnownColor: #72da88;
}